/* For the whole page */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	height: 100vh;
}

ul,ol,li {
	list-style-type: none;
}

a{
	text-decoration: none;
	color: #4c4c4c;
}


/* For the Home page */

#index{
	position: relative;
	background: url(../images/aurora.jpg) no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
}

/* Header */

#index header {
	color: white;
	width: 100%;
	text-align: center;
	position: absolute;
	top: 45%;
}

#index header > h1{
	margin: 0 auto;
	font-size: 6rem;
}

#index nav{
	background: none;
}


/* Navbar */
nav {
	/*position: absolute;*/
	top: 145px;
	background-color: black;
	width: 100%;
	/*grid-template-columns: : 1fr 1fr 1fr 1fr;*/
}

nav ul{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	justify-content: center;
	padding-right: 40px;
	margin: 0 auto;
}

nav li{
	padding: 15px;
	/*border: 3px solid #ccc;*/
	margin-bottom: 3px;
	vertical-align: middle;
	transition: border .5s;
	float: left;
	flex: 1;
	text-align: center;
	font-size: 1.5rem;
}

nav > ul > li > a{
	color: #fff;
}

nav li:hover{
	border: 3px solid #ccc;
	border-radius: 50px;
	cursor: pointer;
}


nav a:hover{
	text-decoration: underline;
}

/* For About Page*/
#about {
	height: 100%;
}

#about > header{
	width: 100%;
	background: url(../images/miami.jpg) no-repeat;
	background-size: 100% 100%;
}

#about h1 {
	margin:0 auto;
	font-size: 3rem;
	text-align: center;
	padding: 130px 0;
	color: white
}

/* For Gallery Page*/
#gallery {
	height: 100%;
}

#gallery > header{
	width: 100%;
	background: url(../images/lakeMendota.jpg) no-repeat;
	background-size: 100% 100%;
}

#gallery h1 {
	margin:0 auto;
	font-size: 3rem;
	text-align: center;
	padding: 130px 0;
	color: white
}

#gallery table {
	margin: 0 auto;
    width: 100%;
    border: 1px solid #000;
}

#gallery .photoTable caption{
	font-size: 2rem;
    height: 100px;
    padding-top: 30px;
}

#gallery .photoTable tr{
	width: 100%;
	display: flex;
}

#gallery .photoTable td{
	border: 1px solid #000;
	flex: 1;
}

#gallery img{
	width: 80%;
	height: 80%;
}











